
/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
}
button{
    cursor: pointer;
}
header{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: whitesmoke;
    z-index: 1000;
    

}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: medium;
}

.nav-tags a{
    margin-right: 10px;
}

.nav-icons a{
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 5px;
    
}
.nav-icons a:hover{
    background-color: black;
    color: white;
}
#Home{
    width: 100%;
}
.cover {
    position: relative;
    color: white;
    margin: 60px 0;
}
.cover img{
    width: 100%;
    height: auto;
}

.cover h2{
    position:absolute;
    top: 45%;
    left: 100px;
    font-size:xx-large;
    font-weight: lighter;

    
}
.cover p{
    position:absolute;
    top: 55%;
    left: 100px;
    font-size: large;
    
}
#LatestProducts{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 50px;

}
.Category-Buttons{
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.Category-Buttons button{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    border: 2px solid gray;
    font-size: 14px;
}
.Category-Buttons button:hover{
    background-color: black;
    color: white;
}
#Home-Product-Container{
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}
#products{
    width: 100%;
    margin: 80px 0;
}
#Products-Container{
    width: 88%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.Product-Card{
    width: 30%;
    box-sizing: border-box;
    border: 1px solid rgb(212, 208, 208);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}
.Product-Card img{
    width: 100%;
    height: 300px;
    padding: 20px;
    object-fit: fill;
    
}

.Product-Details h2{
    width: 60%;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.Product-Details .description{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px;
    font-size: 14px;
} 

.Product-Details .price{
    margin: 10px;
    font-size: medium;
}

.Product-Card button{
    color: white;
    background-color: black;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: max-content;
    padding: 10px;
    font-size: 14px;
}
#HomeFooter{
    text-align: center;
    margin: 100px auto 50px;
}
#ProductsFooter{
    text-align: center;
    margin: 100px auto 50px;
}
#Specific-Details{
    width: 100%;
    margin: 100px 0;
    
}
#Specific-Product-Details{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
#Specific-Product-Details img{
    width: 450px;
}
#Specific-Product-Details .title{
    font-size: 40px;
    font-weight: lighter;
    margin: 20px 0;
}
#LikeProducts{
    font-size: xx-large;
    margin-left: 100px;
    margin-bottom: 30px;
}
.product-description{
    width: 45%;
    margin-top: 20px;
    text-align: start;
}
.product-description .rating{
    padding: 5px;
    margin-bottom: 20px;
    font-size:large;
}

.product-description .price{
    font-size: xx-large;
    margin-bottom: 20px;
}

.product-description .description{
    font-size: large;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
}

.product-description .add-to-cart-btn{
    border-radius: 4px;
    width: max-content;
    padding: 8px;
    font-size: medium;
    background-color: white;
    margin-right: 20px;
}
.product-description .add-to-cart-btn:hover{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
}
.go-to-cart-btn{
    border-radius: 4px;
    width: max-content;
    padding: 10px;
    font-size: medium;
    border: none;
    background-color: black;
    color: white;
}



@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.Slideshow-Container{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.Slideshow-Container::before,.Slideshow-Container::after{
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0;
    content: "";
    z-index: 2;
}
#slideshow{
    display: flex;
    flex-direction: row;
    animation: 25s slide infinite linear;
    gap: 30px;
}

.Slideshow-Container::before{
    left: 0;
    background: linear-gradient(to left,rgba(223, 44, 44, 0),white);
}
.Slideshow-Container::after{
    right: 0;
    background: linear-gradient(to right,rgba(223, 44, 44, 0),white);
}
.Slideshow-Container:hover #slideshow{
    animation-play-state: paused; 
}
.slider-card{
    height: 450px;
    width: auto;
    box-sizing: border-box;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.slider-card img{
    max-height: 300px;
    width: auto;

}
.slider-details h2{
    width: 220px;
    margin: 10px auto 20px ;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.slider-details .details-btn{
    width: max-content;
    color: white;
    border: none;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-left: -10px;
}
.slider-card .add-to-cart-btn{
    width: max-content;
    color: white;
    border: none;
    background-color: black;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
}
#SpecificDetailsFooter{
    text-align: center;
    margin-top: 100px;
}
#GoToCart{
    width: 100%;
    margin: 100px auto;
    overflow: hidden;
}
#GoToCart h1{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}
#EmptyCart{
    width: 85%;
    margin: 20px auto 20px auto;
    background-color: whitesmoke;
    text-align: center;
    
}
    
#EmptyCartMesssage{
    font-size: 40px;
    font-weight: lighter;
    padding: 50px 0 20px 0;
}
#EmptyCart button{
    padding: 5px;
    font-size: medium;
    border-radius: 6px;
    margin-bottom: 30px;
}
#Footer i{
    color: red;
}
#footer{
    width:100%;
    font-size: large;
}
#EmptyCartFooter{
    text-align: center;
    margin-top: 50px;
}
#NonEmptyCart{
    width: 100%;
    margin: 75px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

#CartDetails{
    width: 55%;
    border: 2px solid gainsboro;
    border-radius: 5px;

}
#CartDetails h2{
    background-color: whitesmoke;
    padding-left: 20px;
    border-bottom: 2px solid gainsboro;
}
#Cart-Container{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;
}

.Cart-Card{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    padding-bottom:  30px;
    border-bottom: 2px solid gainsboro;
}

.Cart-Card h4{
    width: 300px;
    text-align:start;
    font-size: 14px;
}

.Cart-Card i{
    font-size: larger;
    margin-bottom: 30px;
}
#quantityChanger{
    text-align: center;
}
#quantityChanger span{
    padding: 30px;
}
#OrderSummary{
    width: 25%;
    height: max-content;
    border: 1px solid black;
}

#OrderSummary h2{
    background-color: whitesmoke;
    padding: 10px;
}
.QuantityPrice{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.Shipping{
    display: flex;
    padding: 10px;
    justify-content: space-between;

    
}
.TotalAmount{   
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
#OrderSummary button{
    width: 90%;
    margin: 15px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: medium;
}
#NonEmptyCartFooter{
    text-align: center;
    margin: 150px 50px;
}
#Home, #Products, #Specific-Details,#GoToCart{
    display: none; /* Default hidden, managed by JavaScript */
}
